#niko {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nino{
 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#vano{
  
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
